:root {
    --Mobile:375px;
    --Desktop: 1440px;

    /* Primary Colors  */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* Neutral Colors*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    /* Font Weights */
    --Normal:400;
    --SemiBold:700;
    --Bold:800;

}
*,*::after,*::before{
    box-sizing: border-box;
}
*{
    /* margin: 0%; */
    /* padding: 0%; */
    font-family: inherit;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in;
}
html{
    /* color-scheme: dark light; */
}
body{
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--Off-white);
    padding: 50px;
    position: relative;
}
video,img,svg,picture{
    display: block;
    max-width: 100%;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* NAVIGATION  */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.website-logo{
    width: 70px;
}
.menu-toggle{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    display: none;
}
.menu-toggle[aria-expanded=false]>img.closeMenuIcon{
    display: none;
}
.menu-toggle[aria-expanded=true]>img.menuIcon{
    display: none;
}
.primary-navigation{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.primary-navigation li{
    color: var(--Dark-grayish-blue);
}
.primary-navigation li:hover, .primary-navigation li:active, .primary-navigation li a:focus{
    color: var(--Soft-red);
}

/* HEADER  */
.landing{
    margin: 50px 0;
    max-width: 800px;
}
.landing-title{
    color: var(--Very-dark-blue);
    font-size: 3rem;
    font-weight: var(--Bold);
    line-height: 70px;
}
p{
    color: var(--Dark-grayish-blue);
    line-height: 28px;
    font-size: 15px;
    text-align: justify;
}
.btn-link{
    color: white;
    background-color: var(--Soft-red);
    padding: 20px 40px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn-link:hover, .btn-link:active, .btn-link:focus{
    background-color: var(--Very-dark-blue);
}

/* NEW SECTION  */
.new-sec{
    background-color: var(--Very-dark-blue);
    padding: 30px;
    min-width: 300px;
    margin: 50px 0;
}
.new-title{
    color: var(--Soft-orange);
}
.new-item:not(:last-child){
    border-bottom: 1px var(--Grayish-blue) solid;
}
.new-sec h3{
    color: white;
}
.new-sec h3:hover, .new-sec h3:active, .new-sec h3 a:focus{
    color: var(--Soft-orange);
}

/* NEWS-CARDS SECTION  */
.news-sec{
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin: 50px 0;
    padding: 0%;
}
.card{
    display: flex;
    gap: 20px;
    /* background-color: yellow; */
}
.card-img{
    width: 100px;
    min-width: 100px;
    overflow: hidden;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-content>span{
    font-size: 2rem;
    font-weight: var(--SemiBold);
    color: var(--Grayish-blue);
}
.card-content *{
    margin: 0;
}
.news-sec h3:hover, .news-sec h3:active, .news-sec h3 a:focus{
    color: var(--Soft-red);
}

/* FOOTER  */
.attribution { font-size: 12px; text-align: center; margin-top: 50px;}
.attribution a { color: hsl(228, 45%, 44%); }

/* ANIMATION  */
@keyframes slideIn {
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}
@keyframes slideOut {
    0%{transform: translateX(0%);}
    100%{transform: translateX(100%);}
}

/* MEDIA QUERY  */
/* MOBILE SCREEN*/
@media (width < 768px) {
    body{
        padding: 20px;
    }
    .primary-navigation{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        width: 70%;
        position: fixed;
        top: 0%;
        right: 0%;
        padding: 150px 0 0 30px;
        background-color: white;
    }
    .primary-navigation::before{
        content: ' ';
        background: transparent;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0%;
        left: -100%;
        transition: all 1s ease;
    }
    .menu-toggle{
        display: inline-flex;
    }
    .primary-navigation[data-state=opened] {
        animation: slideIn 1s ease-in-out forwards;
    }
    .primary-navigation[data-state=closing] {
        animation: slideOut 1s ease-in-out forwards;
    }
    .primary-navigation[data-state=closed] {
        display: none;
    }
    .primary-navigation[data-state=opened]::before{
        background: linear-gradient(90deg, rgba(0, 0, 0,0), rgba(0, 0, 0, .7));
    }
    .news-sec{
        flex-direction: column;
    }
}

/* LAPTOP SCREEN*/
@media (width > 767px) {
    main{
        display: flex;
        gap: 30px;
    }
    .landing-content{
        display: flex;
        gap: 30px;
    }
}
